{% extends 'customer/base.html' %}
{% block content %}
<div class="container">
    <div class="row-justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us</h1>

        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, provident, at quisquam illum repellat officiis animi possimus rem totam ipsa facere minus, quam ut a asperiores commodi. Reiciendis iure quia soluta fugiat incidunt omnis odit unde fugit libero mollitia tempora nemo, temporibus voluptatibus molestias animi voluptatum laborum illum nobis iusto molestiae, eveniet dolores ea accusamus ad. Maiores dolores praesentium eum illo doloribus eaque totam, ex aut veritatis nobis neque quasi veniam quibusdam modi nam! Fugit quae, optio at quisquam velit, error facilis minus cumque sit rerum saepe quam sequi. Optio ab nostrum incidunt iusto, eligendi libero perferendis commodi voluptas dolorem, ullam amet ducimus eius aspernatur corrupti ipsa deserunt eveniet tempore nam enim quod est?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum porro iusto accusamus est vel at autem iste mollitia eveniet reiciendis, praesentium, perferendis fugiat sapiente facere atque, incidunt obcaecati. Quaerat, </p>
        </div>
    </div>
</div>
{% endblock %}